In [1]:
import pandas as pd
from matplotlib import pyplot as plt 
import seaborn as sns
import datetime as dt
import numpy as np

In [2]:
#importing main dataset 
df = pd.read_csv(r"C:\Users\hp\Desktop\rebuilt.archive (2)\covid_19_india.csv")

In [3]:
df

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,30/01/20,6:00 PM,Kerala,1,0,0,0,1
1,2,31/01/20,6:00 PM,Kerala,1,0,0,0,1
2,3,01/02/20,6:00 PM,Kerala,2,0,0,0,2
3,4,02/02/20,6:00 PM,Kerala,3,0,0,0,3
4,5,03/02/20,6:00 PM,Kerala,3,0,0,0,3
...,...,...,...,...,...,...,...,...,...
9286,9287,09/12/20,8:00 AM,Telengana,-,-,266120,1480,275261
9287,9288,09/12/20,8:00 AM,Tripura,-,-,32169,373,32945
9288,9289,09/12/20,8:00 AM,Uttarakhand,-,-,72435,1307,79141
9289,9290,09/12/20,8:00 AM,Uttar Pradesh,-,-,528832,7967,558173
9290,9291,09/12/20,8:00 AM,West Bengal,-,-,475425,8820,507995

In [4]:
df.describe()

               Sno         Cured        Deaths     Confirmed
count  9291.000000  9.291000e+03   9291.000000  9.291000e+03
mean   4646.000000  7.863266e+04   1487.620385  9.183978e+04
std    2682.225009  1.931102e+05   4713.813690  2.166014e+05
min       1.000000  0.000000e+00      0.000000  0.000000e+00
25%    2323.500000  1.520000e+02      2.000000  5.385000e+02
50%    4646.000000  4.308000e+03     66.000000  6.832000e+03
75%    6968.500000  5.772650e+04    926.500000  7.885600e+04
max    9291.000000  1.737080e+06  47827.000000  1.859367e+06

In [5]:
df.isnull().sum()

Sno                         0
Date                        0
Time                        0
State/UnionTerritory        0
ConfirmedIndianNational     0
ConfirmedForeignNational    0
Cured                       0
Deaths                      0
Confirmed                   0
dtype: int64

In [6]:
#Looking at the earlier dates
df.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,30/01/20,6:00 PM,Kerala,1,0,0,0,1
1,2,31/01/20,6:00 PM,Kerala,1,0,0,0,1
2,3,01/02/20,6:00 PM,Kerala,2,0,0,0,2
3,4,02/02/20,6:00 PM,Kerala,3,0,0,0,3
4,5,03/02/20,6:00 PM,Kerala,3,0,0,0,3

In [7]:
#looking at the latest dates
df.tail(20)

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
9271,9272,09/12/20,8:00 AM,Karnataka,-,-,858370,11880,895284
9272,9273,09/12/20,8:00 AM,Kerala,-,-,582351,2472,644696
9273,9274,09/12/20,8:00 AM,Ladakh,-,-,8056,122,8969
9274,9275,09/12/20,8:00 AM,Madhya Pradesh,-,-,200664,3358,217302
9275,9276,09/12/20,8:00 AM,Maharashtra,-,-,1737080,47827,1859367
9276,9277,09/12/20,8:00 AM,Manipur,-,-,23166,311,26396
9277,9278,09/12/20,8:00 AM,Meghalaya,-,-,11686,122,12410
9278,9279,09/12/20,8:00 AM,Mizoram,-,-,3772,6,3977
9279,9280,09/12/20,8:00 AM,Nagaland,-,-,10781,67,11479
9280,9281,09/12/20,8:00 AM,Odisha,-,-,316970,1784,321913
9281,9282,09/12/20,8:00 AM,Puducherry,-,-,36308,615,37311
9282,9283,09/12/20,8:00 AM,Punjab,-,-,145093,4964,157331
9283,9284,09/12/20,8:00 AM,Rajasthan,-,-,260773,2468,284116
9284,9285,09/12/20,8:00 AM,Sikkim,-,-,4735,117,5215
9285,9286,09/12/20,8:00 AM,Tamil Nadu,-,-,770378,11822,792788
9286,9287,09/12/20,8:00 AM,Telengana,-,-,266120,1480,275261
9287,9288,09/12/20,8:00 AM,Tripura,-,-,32169,373,32945
9288,9289,09/12/20,8:00 AM,Uttarakhand,-,-,72435,1307,79141
9289,9290,09/12/20,8:00 AM,Uttar Pradesh,-,-,528832,7967,558173
9290,9291,09/12/20,8:00 AM,West Bengal,-,-,475425,8820,507995

In [10]:
#current date
#oday = df[df["date'] == "8/12/2020"
df.dtypes

Sno                                  int64
Date                        datetime64[ns]
Time                                object
State/UnionTerritory                object
ConfirmedIndianNational             object
ConfirmedForeignNational            object
Cured                                int64
Deaths                               int64
Confirmed                            int64
dtype: object

In [40]:
india =df.drop(["Sno","ConfirmedForeignNational"],axis=1)
india.Date=pd.to_datetime(india.Date)
india.head(3)

,Date,Time,State/UnionTerritory,ConfirmedIndianNational,Cured,Deaths,Confirmed
0,2020-01-30,6:00 PM,Kerala,1,0,0,1
1,2020-01-31,6:00 PM,Kerala,1,0,0,1
2,2020-01-02,6:00 PM,Kerala,2,0,0,2

In [41]:
india.dtypes

Date                       datetime64[ns]
Time                               object
State/UnionTerritory               object
ConfirmedIndianNational            object
Cured                               int64
Deaths                              int64
Confirmed                           int64
dtype: object

In [42]:
#from datetime import datetime
#df['Date'] = df['Date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))

In [47]:

#india=india.drop(['ConfirmedForeignNational'],axis=1)
india.columns=['Date','Time','State','conf_ind_nat','Cured','Death','Confirmed']
india

           Date     Time          State conf_ind_nat   Cured  Death  Confirmed
0    2020-01-30  6:00 PM         Kerala            1       0      0          1
1    2020-01-31  6:00 PM         Kerala            1       0      0          1
2    2020-01-02  6:00 PM         Kerala            2       0      0          2
3    2020-02-02  6:00 PM         Kerala            3       0      0          3
4    2020-03-02  6:00 PM         Kerala            3       0      0          3
...         ...      ...            ...          ...     ...    ...        ...
9286 2020-09-12  8:00 AM      Telengana            -  266120   1480     275261
9287 2020-09-12  8:00 AM        Tripura            -   32169    373      32945
9288 2020-09-12  8:00 AM    Uttarakhand            -   72435   1307      79141
9289 2020-09-12  8:00 AM  Uttar Pradesh            -  528832   7967     558173
9290 2020-09-12  8:00 AM    West Bengal            -  475425   8820     507995

[9291 rows x 7 columns]

In [48]:
#Sorting data w.r.t number of confirmed cases
max_confirmed_cases=india.sort_values(by="conf_ind_nat",ascending=False)
max_confirmed_cases

,Date,Time,State,conf_ind_nat,Cured,Death,Confirmed
339,2020-03-24,6:00 PM,West Bengal,9,0,1,9
364,2020-03-25,6:00 PM,West Bengal,9,0,1,9
75,2020-09-03,6:00 PM,Kerala,9,3,0,9
421,2020-03-28,6:00 PM,Bihar,9,0,1,9
103,2020-11-03,6:00 PM,Uttar Pradesh,9,0,0,9
...,...,...,...,...,...,...,...
3387,2020-06-25,8:00 AM,Andaman and Nicobar Islands,-,43,0,56
3386,2020-06-24,8:00 AM,Cases being reassigned to states,-,0,0,8141
3385,2020-06-24,8:00 AM,West Bengal,-,9218,580,14728
3384,2020-06-24,8:00 AM,Uttar Pradesh,-,12116,588,18893
9290,2020-09-12,8:00 AM,West Bengal,-,475425,8820,507995

In [55]:
#Getting states with maximum number of confirmed cases
top_states_confirmed=max_confirmed_cases[0:5]
top_states_confirmed

          Date     Time          State conf_ind_nat  Cured  Death  Confirmed
339 2020-03-24  6:00 PM    West Bengal            9      0      1          9
364 2020-03-25  6:00 PM    West Bengal            9      0      1          9
75  2020-09-03  6:00 PM         Kerala            9      3      0          9
421 2020-03-28  6:00 PM          Bihar            9      0      1          9
103 2020-11-03  6:00 PM  Uttar Pradesh            9      0      0          9

In [56]:
#Making bar-plot for states with top confirmed cases
sns.set(rc={'figure.figsize':(15,10)})
sns.barplot(x='State',y='conf_ind_nat',data=india,hue='State')
plt.show()

ValueError: Neither the `x` nor `y` variable appears to be numeric.

In [57]:
#Sorting data w.r.t number of death cases
max_death_cases=today.sort_values(by="deaths",ascending=False)
max_death_cases

NameError: name 'today' is not defined

In [ ]:
#Getting states with maximum number of death cases
top_states_death=max_death_cases[0:5]

In [ ]:
#Making bar-plot for states with top death cases
sns.set(rc={'figure.figsize':(15,10)})
sns.barplot(x="state",y="deaths",data=top_states_death,hue="state")
plt.show()

In [ ]:
#Sorting data w.r.t number of cured cases
max_cured_cases=today.sort_values(by="cured",ascending=False)
max_cured_cases

In [ ]:
#Getting states with maximum number of cured cases
top_states_cured=max_cured_cases[0:5]

In [ ]:
#Making bar-plot for states with top death cases
sns.set(rc={'figure.figsize':(15,10)})
sns.barplot(x="state",y="cured",data=top_states_cured,hue="state")
plt.show()

In [ ]:
#Maharashtra
maha = df[df.state == 'Maharashtra']

In [ ]:
maha

In [ ]:
#Visualizing confirmed cases in maharashtra
sns.set(rc={'figure.figsize':(15,10)})
sns.lineplot(x="date",y="confirmed",data=maha,color="g")
plt.show()

In [ ]:
#Visualizing death cases in maharashtra
sns.set(rc={'figure.figsize':(15,10)})
sns.lineplot(x="date",y="deaths",data=maha,color="r")
plt.show()

In [ ]:
#kerala
kerala= df[df.state == 'Kerala']
kerala

In [ ]:
#Visualizing confirmed cases in Kerala
sns.set(rc={'figure.figsize':(15,10)})
sns.lineplot(x="date",y="confirmed",data=kerala,color="g")
plt.show()

In [ ]:
#Visualizing death cases in Kerala
sns.set(rc={'figure.figsize':(15,10)})
sns.lineplot(x="date",y="deaths",data=kerala,color="r")
plt.show()

In [ ]:
#Jammu and Kashmir
jk= df[df.state == 'Jammu and Kashmir']
jk

In [ ]:
#Visualizing confirmed cases in Jammu and Kashmir
sns.set(rc={'figure.figsize':(15,10)})
sns.lineplot(x="date",y="confirmed",data=jk,color="g")
plt.show()

In [ ]:
#Visualizing death cases in Jammu and Kashmir
sns.set(rc={'figure.figsize':(15,10)})
sns.lineplot(x="date",y="deaths",data=jk,color="r")
plt.show()

In [ ]:
#Checking state-wise testing details
tests = pd.read_csv('StatewiseTestingDetails.csv')
tests

In [ ]:
test_latest =  tests[tests.Date == '2020-07-15']

In [ ]:
test_latest

In [ ]:
#Sorting data w.r.t number of cured cases
max_tests_State=test_latest.sort_values(by="TotalSamples",ascending=False)
max_tests_State

In [ ]:
#Making bar-plot for states with max test cases
sns.set(rc={'figure.figsize':(15,10)})
sns.barplot(x="State",y="TotalSamples",data=max_tests_State[0:5],hue="State")
plt.show()

In [ ]:
#Linear regression
from sklearn.model_selection import train_test_split

In [ ]:
maha

In [ ]:
#converting date-time to ordinal
maha['date']=maha['date'].map(dt.datetime.toordinal)
maha.head()

In [ ]:
#getting dependent variable and inpedent variable
x=maha['date']
y=maha['confirmed']

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr = LinearRegression()

In [ ]:
lr.fit(np.array(x_train).reshape(-1,1),np.array(y_train).reshape(-1,1))

In [ ]:
maha.tail()

In [ ]:
lr.predict(np.array([[737630]]))